:root{
	--mainColor:#46344E;
	--secondaryColor:#382a3f;

	--borderColor:#1d1520;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#fff;

	--previewShadow:#2b202f;
	--previewBg:rgb(29, 21, 32, 0.8);

	--submitBtn: #8534a3;

}